<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pumpkin.pac">

    <application>
        <service
            android:name=".process.service.PACService"
            android:exported="false"
            android:process=":pac" />

        <activity
            android:name=".view.GameActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:process=":pac"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Browser">
        </activity>

        <activity
            android:name=".view.BrowserActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":pac"
            android:theme="@style/Theme.Browser" />
    </application>

</manifest>