<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.howie.multiple_process">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Multiple_Process"
        tools:targetApi="31">
        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.aidlClient.ClientActivity1"
            android:process=":client1" />

        <activity
            android:name=".view.aidlClient.ClientActivity2"
            android:process="com.howie.client.client2" />

        <activity
            android:name=".view.general_lifecycle.GeneralLifecycleActivity"
            android:exported="false"
            android:theme="@style/Theme.GeneralLifecycle" />

        <service android:name=".aidl_service.RemoteService" />

        <service android:name=".aidl_service.BookManagerService" />
    </application>

</manifest>