<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.howie.snake">

    <application android:theme="@style/Theme.Applets_Container">

        <activity
            android:name=".SnakeActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.SnakeActivity" />

    </application>

</manifest>
