<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pumpkin.game.quiz">

    <application>
        <activity
            android:name="dragosholban.com.androidpuzzlegame.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Applets_Container"/>
        <activity android:name="dragosholban.com.androidpuzzlegame.PuzzleActivity"
            android:theme="@style/Theme.Applets_Container"/>
    </application>

</manifest>